<script lang="Javascript" src="[% APPLICATION.JQUERY %]"></script>
<script lang="Javascript" src="[% APPLICATION.BOOTJS %]"></script>
<link   rel="stylesheet" href="[% APPLICATION.BOOTCSS %]"></link>
