<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Generic File Uploader</title>
  [% INCLUDE resources/includes.tmpl %]
  <style>
  div.loading {
    margin:auto;
    position:relative;
    left:0px;
    top:0px;
    height:21px;
    width:125px;
    background-image: url('[% APPLICATION.RESOURCES %]/images/loading.gif');
  }
  div.file_load {
    background-image: url('[% APPLICATION.RESOURCES %]/images/loading.gif');
    width:125px;
    height:21px;
  }
  td.fname.valid{
      color:green;
      font-weight:bold;
      max-width:725px;
  }
  td.fname {
    padding:5px;
  }
  td.fname.invalid {
      color: white;
      font-weight:bold;
      text-decoration:blink;
  }
  td.fsize {
    text-align:right;
    padding:5px;
  }
  td.fbox {
    text-align:center;
  }
  th {
    text-align:center;
  }
  th.fsize, th.upload {
  }
  span.status {
    font-family: "Courier New";
    font-size: 1em;
    font-weight:bold;
  } 
  span.warnings {
    font-weight:bold;
    overflow:scroll;
    color:black;
    background-color:yellow;
  }
  span.errors {
    font-weight:bold;
    background-color:red;
    color:white;
    text-decoration:blink;
  }
  div.fileinputs {
    position: relative;
  }

  div.fakefile {
    position: absolute;
    top:position 0px;
    left: 0px;
    z-index: 1;
  }

  input.file {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity:filter 0;
    z-index: 2;
  }

  </style>
</head> 
<body>
  <div class="line">
            <h1 class='col-sm-12 text-center'>File Uploader</h1><br/>
  </div>
  <div style="clear:both;"></div>
  <div class='col-sm-12'>
    <div style="padding: 4px;" class="col-sm-12" id='formdiv'>
        <form 
          method="post" 
          style="text-align:center;" 
          action="[% APPLICATION.SUITE.INDEX %]/FileUploadAJAX" 
          enctype="multipart/form-data" 
          name="theform"
          id="theform"
          target="fileframe"
        >
          <table id="tableone" class='table'>
            <thead>
              <tr>
                <th> Choose file(s) to upload <br/>
                  <span style="color:blue; font-size: .7em; font-weight: normal;">
                      <b>This is for uploading files</b>
                      <br/>
                  </span>
                </th>
              </tr>
              <tr>
                <td style="text-align:center;padding:10px;"><div class="col-sm-12" style="font-size:2.1em;"><div id="FILE" style="margin:10px;">Choose File to Upload</div></div>
              </tr>
              <tr>
                <td><div class="redbox" style="font-size:1.1em;margin:auto;"><input id="fupload" style="margin:0 auto;background:#d81b21;color:white;" type="file" name="filenames" size="35" multiple="true" /></div>
              </tr> 
              <tr>
                <td><input type="button" id="Upload_FILE" value="Scan File(s)" class="red button" style="margin:5px;" /> <input type="reset" name="reset" class="red button" style="margin:5px;"/>
              </tr>
              <input type="hidden" name="debug" value="[% debug %]"><input type="hidden" name="action" value="upload">
          </table>
        </form>
        <div style="padding:4px;display:none;" class="no_box" id="status"></div>
    </div>
  </div>
</body>
[% INCLUDE Index/jscript.tmpl %]
</html>
