<script>
  var count = 0;
  $(document).ready(function() {
    $("#status").append("<table id='file_info' class='table'></table>");
    $("#status table").append(
                "<tr><th class='col-sm-7 text-left'>Filename</th>" + 
                "<th class='fsize col-sm-3 text-center'>Size</th>" + 
                "<th class='upload col-sm-2 text-center'>Uploaded</th></tr>"
    );
  });

  $("#Upload_FILE").click(function(fupload) {
    var FILEfiles = $("#fupload")[0].files;

      $("#formdiv").append("<div class='loading'></div>");
      $("#status").html("");
      $("#theform").submit();
  });





</script>
